.presentation {
  margin-top: 100px;
  display: flex;
  align-items: center;
  #name {
    color: #B968C7;
  }
  justify-content: space-evenly;
  width: 100%;
  img {
    max-height: 450px;
  }
}

.purple {
  color: #94539F;
}

.bio {
  width: 50%;
  text-align: center;
  font-size: 18px;
  h2 {
    margin-top: 80px;
    margin-bottom: 50px;
  }
  margin-bottom: 50px;
}

.bio-p {
  letter-spacing: 1px;
  line-height: 1.5;
  color: #dadada;
}

@media (max-width: 600px) {
  .presentation {
    flex-direction: column;
    .left {
      padding: 20px;
      text-align: center;
    }
    img {
      max-height: 300px;
    }
  }
  .bio {
    width: 100%;
  }
  .bio-p {
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 1200px) {
  .presentation {
    .left {
      padding-left: 30px;
    }
    img {
      max-height: 400px;
      width: 100%;
    }
  }
}